@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
font-family: 'Noto Sans KR', sans-serif;
}

* { margin: 0; padding: 0; }
a { text-decoration: none; color: inherit; }
img { vertical-align: top; }
li { list-style-type: none; }

html { overflow-x: hidden; }
body { font-family: 'Noto Sans KR'; font-size: 18px; color: #000; cursor: default; }
.wrap { margin: 0 auto; position: relative; width: 1400px; }
.wrap:after, ul:after, .cl:after { content:""; clear: both; display: block; }
.blind { position: absolute; left: 9999px; font-size:0; width: 0; height: 0; overflow: hidden; }
::selection { background-color: #eee; }




/* index.html */


header { width: 100%; height: 70px; line-height: 70px; position: fixed; z-index: 2; background: #fff; box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.2); }
header.home { width: 100%; height: 70px; line-height: 70px; position: fixed; z-index: 2; background: none; box-shadow: none; }
header .wrap { height: 70px; }
header h1 { margin-top: 12px; opacity: 0.8; }
header h1 img { width: 35px; }
header ul { position: absolute; top: -10px; right: 0; }
header ul li a { position: relative; opacity: 0.6; transition: 0.3s; }
header ul li a:hover { opacity: 1; }
header ul li { float: left; font-size: 18px; color: #000; margin-left: 130px; }
header.home ul li { color: #fff; }
header ul li.selected a { opacity: 1; }
header ul li.selected a:after { content:""; width: 100%; height: 2px; display: inline-block; background: #000; opacity: 1; position: absolute; bottom:-4px; left:0; z-index:-1; }
header.home ul li.selected a:after {  background: #fff;  }
header ul li a:after { content:""; width: 0; height: 2px; display: inline-block; background: #000; opacity: 1; position: absolute; bottom:-4px; left:0; z-index:-1; transition: 0.2s all; }
header.home ul li a:after { background: #fff; }
header ul li a:hover:after { width: 100%; }
#home { width: 100vw; margin: 0 auto; height: 100vh; overflow: hidden; background: url(../images/home_bg.png) no-repeat center/cover; }

#home .wrap h2 { color: #fff; font-size: 140px; position: absolute; top: 200px; left: 0; letter-spacing: 2px; }





/* portfolio */

#pf { position: relative; height: 100vh; }
#pf .slide { width: 200%; height: 100%; position: relative; }
#pf .slide li { float: left; width: calc(100% / 2); height: 100%; display: flex; align-items: center; justify-content: center; }
#pf .slide li .wrap { width: 70%; height: 70%;   }
#pf .slide li .wrap div { width: 50%; }
#pf .slide li .left { float: left; background: #fcf; height: 100%; }
#pf .slide li .left h3 { font-size: 80px;  color: transparent;  }
#pf .slide li .right { float: right; height: 100%; display: flex; align-items: center; }
#pf .slide li img { width: 50vw; }

#pf button { position: absolute; top: calc(50% - 50px); font-size: 70px; background: none; border: none; cursor: pointer; }
#pf button.prev { left: 50px; }
#pf button.next { right: 50px; }

#pf .page { position: absolute; bottom: 40px; width: 100%; display: flex; justify-content: center; align-items: center; }
#pf .page li { width: 12px; height: 12px; border-radius: 20px; border: 3px solid #000; text-indent: 100px; overflow: hidden; margin: 0 10px; }
#pf .page li.selected { background: black; }








/* mpva */

#mpva { background: url(../images/mpva_bg.png) no-repeat center; height: 6000px;  }

/* innopolis */

#inno { background: url(../images/innopolis_bg.png) no-repeat center; height: 5500px;  }





/* about */

